.Popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(1px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.Popup-inner{
    border-radius: 1rem;
    position: relative;
    padding: 1rem;
    width: 50%;
    max-width: 500px;
    background-color: #fff;
}

.Popup-inner-header{
    border: 0.5rem solid yellow;
    display: flex;
    justify-content: space-between;
}
