.pacienteform{
    border: 0.1rem solid green;
    padding: 0.75rem 0.25rem;

    display: grid;
    grid-template-columns: 35% 50%;
    justify-content: center;
    justify-items: start;
    column-gap: 10px;
    row-gap: 10px;
}

.form-btn{
    grid-column: span 2;
    place-self: center stretch;
}