@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto';
}
.cards{
  border: 0.5rem solid purple;
  display: flex;
  justify-content: center;
}